@use "colors" as c;
@use "sass:color";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 4rem;
  color: darken(c.$clr-fg, 10%);
  // text-shadow: 0 0 20em c.$clr-fg;
}
