@use "colors" as c;
@use "fonts" as f;

// Should only show when scrolled.
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: f.$font-size-footer;
  padding: 1em 0;
  background-color: c.$clr-footer;
  min-height: 12vh;
  font-family: f.$font-mono;

  a {
    text-decoration: underline;
  }

  // bootstrap-icons
  .bi {
    font-size: 1.2em;
  }

  .bi-github {
    margin: 0 0.2em 0 0.4em;
  }

  .buildwith {
    font-weight: bold;
    font-size: 1.1em;
  }
}
